.header{
    background-color: black;
}

.header__inner{
    max-width: 1230px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


.header__logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 20px;
}

.navbar__item-link{
    color: white;
    text-decoration: none;

}