.alert-message__success{
    background-color: #d1e7dd;
    color: #0F5132;
    border: #badbcc;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.alert-message__danger{
    padding: 10px;
    background-color: #f8d7da;
    color: #842029;
    border: #f5c2c7;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.create-form__item{
    max-width: 1230px;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
}
.create-form__input{
    width: 70%;
    height: 50px;
}

.create-form__input-text{
    width: 100%;
    height: 50px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.create-form__button{
    width: 20%;
    height: 50px;
}

.create-form__button-submit{
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.todo-table{
    max-width: 1230px;
    margin: 0 auto;
}

.todo-table__inner{
    width: 100%;
}

.todo-table__row{
    border-bottom: 1px solid gainsboro;
}

.todo-table__header{
    text-align: left;
}

.update-form__input{
    width: 80%;
}

.update-form__input-text{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.update-form__button{
    width: 10%;
}

.update-form__button-submit{
    width: 70%;
    height: 40px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
}

.delete-form__button{
    width: 10%;
    text-align: right;
}

.delete-form__button-submit{
    width: 70%;
    height: 40px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 5px;
}